@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><strong>SPD_KEY_VAULT_URI:</strong> @ViewData["KeyVaultUri"]</p>
    <p><strong>Olá meu nome é </strong> @ViewData["NomeDoAluno"]</p>
    <p><strong>Para visitar meu projeto acesse: </strong> @ViewData["UrlDoRepositorio"]</p>
</div>
